html {
 margin: 0; 
}



/*styling for main calculator heading*/
.main_heading_div {
    margin: auto;
    padding-top: 20px;
    max-width: 600px;
}

.main_heading {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: left;
    color: black;
}


/*styling for main flex-box container*/
.flex_box {
    display: flex;
    margin: auto;
    margin-top: 25px;
    max-width: 600px;
    min-width: 100px;
    height: auto;
    background-color: white;
    gap: 0;
    border: 1px solid #292929;
    flex-wrap: wrap;

}


.flex_box_calculate {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 12px;
    background-color: white;
    padding: 20px;
    background-color: #e5e5e5;

}


.flex_box_result {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 500px;
    height: auto;
    gap: 12px;
    padding: 0px;
}

/*styling for flex-box-child containers*/
.flex_child_one, .flex_child_two, .flex_child_three, .flex_child_four, .flex_child_five {
    flex: 1;
    flex-shrink: 1;
    display: flex;
    border-radius: 5px;
    font-size: 15px;
}

.flex_child_three {
    flex-wrap: wrap-reverse;
    gap: 2px;
}

.flex_child_four {
    flex-wrap: wrap;
    gap: 4px;
}


/*styling for interest rate and loan amount text inputs*/
.loan_amount_input, .interest_rate_input {
    flex: 1;
    flex-shrink: 1;
    padding: 20px;
    border: 1px solid #292929;
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
}


/*styling for selection inputs of months and payment amount*/
.select {
    flex: 1;
    flex-shrink: 1;
    min-width: 200px;
    padding: 20px;
    height: auto;
    border: 1px solid #292929;
    background-color: white;
    color: #757575;
    border-radius: 5px;
    font-size: 15px;
}

.select_two {
    flex: 1;
    flex-shrink: 1;
    min-width: 200px;
    padding: 20px;
    height: auto;
    background-color: white;
    color: #757575;
    border: 1px solid #292929;
    border-radius: 5px;
    font-size: 15px;
}

.select_input {
    flex: 1;
    flex-shrink: 1;
    min-width: 100px;
    padding: 20px;
    height: auto;
    border: 1px solid #292929;
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
}


/*styling for clear and calculate buttons and result div*/
.clear_button {
    flex: 1 0 auto;
    flex-shrink: 1;
    padding: 15px;
    background-color: lightgray;
    color:#292929;
    font-size: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    min-width: 100px;
}

.calculate_button {
    flex: 3 0 auto;
    padding: 15px;
    background-color: lightgray;
    color: #292929;
    font-size: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    min-width: 100px
}

.calculate_button:hover {
    background-color: #292929;
    color:white;
}

.clear_button:hover {
    background-color: #292929; 
    color: white;
}

.result_container {
    flex: 1;
    max-height: 100px;
    min-height: 20px;
}

.result_text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #292929;
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 10px;
    border-bottom: black solid 1px;
}