html {
 margin: 0; 
}

body {
    font-family: sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    font-style: normal;
    }

  h2 {
    font-family: sans-serif;
    font-weight: 500;
    flex: 1 1 30px;
    color: white;
    margin: 10px;
    }

.flex_box {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;    
    padding-bottom: 20px;
    max-width: 600px;
    min-width: 100px;
    height: auto;
    background-color:#292929;
    border: 1px solid #292929;
    border-radius: 8px;
    gap: 12px;
    }

.flex_child_one, .flex_child_two, .flex_child_three, .flex_child_four, .flex_child_five, .flex_child_six {
    flex: 1;
    flex-shrink: 1;
    display: flex;
    background-color: #292929;
    border-radius: 5px;
    font-size: 15px;
    }

.flex_child_four {
    flex-wrap: wrap-reverse;
    gap: 2px;
    }

.flex_child_five {
    flex-wrap: wrap;
    gap: 4px;
    }


.loan_amount_input, .interest_rate_input {
    flex: 1;
    flex-shrink: 1;
    padding: 20px;
    border: 1px solid #292929;
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
    }

.select {
    flex: 1;
    flex-shrink: 1;
    min-width: 200px;
    padding: 20px;
    height: auto;
    border: 1px solid #292929;
    background-color: lightgray;
    color: #292929;
    border-radius: 5px;
    font-size: 15px;
    }

.select_two {
    flex: 1;
    flex-shrink: 1;
    min-width: 200px;
    padding: 20px;
    height: auto;
    background-color: lightgray;
    color: #292929;
    border: 1px solid #292929;
    border-radius: 5px;
    font-size: 15px;
}

.select_input {
    flex: 1;
    flex-shrink: 1;
    min-width: 100px;
    padding: 20px;
    height: auto;
    border: 1px solid #292929;
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
    }


.clear_button {
    flex: 1;
    flex-shrink: 1;
    padding: 15px;
    background-color: lightgray;
    color:#292929;
    font-size: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    min-width: 100px;
    }

    .calculate_button {
    flex: 3;
    flex-shrink: 1;
    padding: 15px;
    background-color: lightgray;
    color: #292929;
    font-size: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    min-width: 100px
    }
    
    .calculate_button:hover {
    background-color: #292929;
    color:white;
    }

    .clear_button:hover {
    background-color: #292929; 
    color: white;
    }
    
    .result {
    color: #292929;
    background-color: white;
    padding: 15px;
    flex: 3;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    min-width: 200px;
    }